body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width:100%;
    background-color: black;
}

.App-Container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width:95%;
    height:95%;
    background-color: rgb(228, 226, 226);
}


/* PAGES CONTAINERS */
.Home-Page{
    display: flex;
    flex-direction: row;

    /* inherita do app container parent */
    width:100%;
    height:100%;
    background-color: rgb(228, 226, 226);
    border:1px solid red;
}

.AddNote-Page{
    display: flex;
    flex-direction: row;

    /* inherita do app container parent */
    width:100%;
    height:100%;
    background-color: rgb(228, 226, 226);
    border:1px solid red;
}

/* ############################################################################################ */
/* ############################################################################################ */
/* ####################             LEFT  SIDE                    #################### */

.Left-Side{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: 100%;
    width:25%;
    border:1px solid black;
}

.Add-Note-Button{
    cursor: pointer;
    margin-top: 17px;
    height:70px;
    width:90%;
    border-radius: 10px;
    border:0;
    background-color: brown;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: rgb(228, 226, 226);
}

.Add-Note-Button:hover{
    transition-duration: 0.1s;
    background-color: rgb(109, 27, 27);
}

.Add-Note-Button:active{
    transform: translateY(1px);
}

.Notes-Container{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin-top: 17px;
    width:100%;
    flex:1;
    border: 1px solid yellow;
}

.Note-Box{
    display: flex;
    flex-direction: column;
    
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    width:90%;
    height:100px;
    font-family: 'Lato',sans-serif;
    /* BORDER NECESSARIA */    
}

.Note-Title{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    border-bottom: 2px solid brown;
    width:100%;
    height:28px;
    font-weight: 700;
    font-size: 27px;
    
  
    
}

.Hidden-Title{
    display:none;
}

.Hidden-Content{
    display:none;
}

.Hidden-FontSize{
    display: none;
}

.Hidden-TextAlign{
    display: none;
}

.Hidden-FontWeight{
    display: none;
}


.Note-Title > #important{
    visibility:hidden;
    flex-direction: row;
    justify-self: flex-end;
    align-self: center;
    margin-left: auto;
    margin-right: 2%;
    border-radius: 10px;
    height:20px;
    width:20px;
    background-color: brown;
}

.Note-Content{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    flex:1;
    
    border:1px solid black;
    
}

.Note-Content > span{
    display: flex;
    word-break: break-all;
    
    height:65%;
    width:100%;
    margin-right: 20px;
    border: 1px solid yellow;
}

.Note-Date{
    display: flex;
    justify-content: flex-end;

    width: 100%;
    height:20px;
    /*
    border:1px solid black;
    */
}

.Note-Date > span{
    margin-right: 20px;
}

.Note-Box:hover{
    background-color: rgb(211, 210, 210);
}


/* Scrollbar Width */
::-webkit-scrollbar {
    width: 6px;
  }
  
/* Background */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px black;
    border-radius: 10px;
}

/* Scrollbar */
::-webkit-scrollbar-thumb {
    background: brown;
    border-radius: 8px;
}

















/* ############################################################################################ */
/* ############################################################################################ */
/* ####################            RIGHT  SIDE                    #################### */

.Right-Side{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    color:black;
    height: 100%;
    flex:1;
    /* fill right side */
    font-family: 'Lato',sans-serif;
    border:1px solid yellow;
}





/* CASE ADD NOTE PAGE */

.Create-Note-Title{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height:45px;
}

.Create-Note-Title > h3{
    font-weight: 700;
    font-size: 40px;
}

.Create-Note-Input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width:100%;
    height:60px;
    border:1px solid black;
}

.Create-Note-Input > input{
    width:70%;
    border:0;
    outline: none;
    border-bottom: 2px solid brown;
}

.Create-Note-Checkbox{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    height:40px;
    width:100%;
    border:1px solid black;
}

.Create-Note-Checkbox > input{
    margin-left: 15%;
}

.Create-Note-Checkbox > label{
    margin-left: 1%;
}


.Note-Content-Container{
    display: flex;
    flex-direction: column;
    align-items: center;


    width:100%;
    height:45%;
    border:1px solid blue;
}

.Note-Textarea{
    text-align: left;
    margin-top: 15px;
    height:350px;
    width:80%;
    resize: none;
    border:0;
    font-size: 18px;
    font-weight: 500;
    outline: 1px solid brown;
}

.Emoji-Container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;


    width:100%;
    height:10%;
    border:1px solid black;
}

.Emoji-Opener{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 140px;

    background-image: url("/resources/Emoji.png");
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    font-family: 'Lato',sans-serif;
    font-size: 29px;
    font-weight: 700;
    width:40px;
    height:35px;
    border:1px solid yellow;
}

.Emoji-Menu{
    position: absolute;
    display: none;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;

    background-color: brown;
    margin-left: 180px;
    width:40%;
    height:20%;
    border:1px solid black;
}



.Emoji-Button{
    display:inline-block;

    cursor: pointer;
    background-color: whitesmoke;
    margin: 2px;
    border-radius: 5px;
    border:1px solid black;
    height:24px;
    width:35px;
}








.Options-Container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width:100%;
    height:180px;
    border:1px solid red;
}

.Font-Container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width:35%;
    height:100%;
}

#Font-Limit{
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;


    animation: 0.3s SubirMensagem ease-out infinite;
    animation-iteration-count: 1;
    animation-play-state:paused;

    font-size: 26px;
    font-weight: 700;
    height:40%;
    width:100%;
    border:1px solid brown;
}
@keyframes SubirMensagem {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

#Font-Adjusters{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    flex:1;
    width:100%;
    border:1px solid black;
}

#Font-Adjusters > button{
    cursor: pointer;
    height:30px;
    width:190px;
    border-radius: 10px;
    border:0;
    background-color: brown;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: rgb(228, 226, 226);
}

#Font-Adjusters > button:hover{
    transition-duration: 0.1s;
    background-color: rgb(109, 27, 27);
}

#Font-Adjusters > button:active{
    transform: translateY(1px);
}

#Font-Adjusters > span{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size:21px;
    font-weight: 700;
    height:40px;
    width:50px;
    border:1px solid black;
}

.TextOptions-Container{
    display: flex;
    flex-direction: column;

    width:35%;
    height:100%;
    border:1px solid green;
}

.TextAlign{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height:40%;
    width:100%;
    border:1px solid black;
}

.TextAlign > button:hover{
    cursor: pointer;
    transition-duration: 0.1s;
    background-color: whitesmoke;
}

.TextAlign > button:active{
    transform: translateY(1px);
}

#Align-Left{
    height:40px;
    width:40px;
    margin: 10px;
}
#Align-Left > img{
    height: 100%;
    width: 100%;
}
#Align-Center{
    height:40px;
    width:40px;
    margin: 10px;
}
#Align-Center > img{
    height: 100%;
    width: 100%;
}
#Align-Right{
    height:40px;
    width:40px;
    margin: 10px;
}
#Align-Right > img{
    height: 100%;
    width: 100%;
}

.FontWeight{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    flex:1;
    width:100%;
    border:1px solid black;
}

.FontWeight > button:hover{
    cursor: pointer;
    transition-duration: 0.1s;
    background-color: whitesmoke;
}

.FontWeight > button:active{
    transform: translateY(1px);
}


#Weight-300{
    font-weight: 300;
    margin: 10px;
}
#Weight-500{
    font-weight: 500;
    margin: 10px;
}
#Weight-700{
    font-weight: 700;
    margin: 10px;
}


.Create-Note-Button{
    display: flex;
    justify-content: center;
    align-items: center;

    width:100%;
    flex:1;
    border:1px solid black;
}
.Edit-Note-Button{
    display: flex;
    justify-content: center;
    align-items: center;

    width:100%;
    flex:1;
    border:1px solid black;
}

.Create-Note-Button > button{
    cursor: pointer;
    margin-top: 17px;
    height:70px;
    width:60%;
    border-radius: 10px;
    border:0;
    background-color: brown;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: rgb(228, 226, 226);
}
.Edit-Note-Button > button{
    cursor: pointer;
    margin-top: 17px;
    height:70px;
    width:60%;
    border-radius: 10px;
    border:0;
    background-color: brown;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: rgb(228, 226, 226);
}

.Create-Note-Button > button:hover{
    transition-duration: 0.1s;
    background-color: rgb(109, 27, 27);
}

.Create-Note-Button > button:active{
    transform: translateY(1px);
}